/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@300&family=Lobster&family=Passions+Conflict&family=Permanent+Marker&family=Solway:wght@300&display=swap');

body{
    font-family: 'Solway', serif;
}
.contact_image{
    width: 100px;
    height: 120px;
}
